// ПЕРЕМЕННЫЕ

$font-ralevay: 'Raleway', sans-serif;
$font-bitter: 'Bitter', serif;
$container-width: 1180px;
$container-padding: 15px;
$background-substrate: #f7f9fa;
$font-color: #1d2f38;

$r_desk_4k: 3760px;
$r_desk_2k: 2560px;
$r_desk_fhd: 1920px;
$r_desk_full_over: 1680px;
$r_desk_full: 1600px;
$r_desk_wxga_full: 1536px;
$r_desk_wxga_xxl: 1440px;
$r_desk_wxga: 1366px;
$r_desk_1280: 1280px;
$r_desk: 1024px;
$r_tab_800: 800px;
$r_tab: 768px;
$r_mob_600: 600px;
$r_mob_568: 568px;
$r_mob_460: 460px;
$r_mob_420: 420px;
$r_mob_360: 360px;
$r_minmob: 320px;