// ПЕРЕМЕННЫЕ

$font-manrope: 'Manrope', sans-serif;
$font-color: #420F04;
$font-colorGrey: #828D9E;
$container-width: 1390px;
$container-padding: 15px;

$r_desk_4k: 3760px;
$r_desk_2k: 2560px;
$r_desk_fhd: 1920px;
$r_desk_full_over: 1680px;
$r_desk_full: 1600px;
$r_desk_wxga_full: 1536px;
$r_desk_wxga_xxl: 1440px;
$r_desk_wxga: 1366px;
$r_desk_1280: 1280px;
$r_desk: 1024px;
$r_tab_800: 800px;
$r_tab: 768px;
$r_mob_600: 600px;
$r_mob_568: 568px;
$r_mob_460: 460px;
$r_mob_420: 420px;
$r_mob_360: 360px;
$r_minmob: 320px;

//ВСПОМОГАТЕЛЬНЫЕ СТИЛИ
html {
	font-size: 10px;
}

body {
	font-family: $font-manrope;
	font-weight: 300;
	font-size: 1.4rem;
	letter-spacing: -0.03em;
	color: $font-color;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #F1F3F6;
}

.none {
	display: none;
}

.container {
	max-width: $container-width;
	padding: 0rem $container-padding;
	margin: 0 auto;
}

.logo {
	width: 21rem;
	height: 3.2rem;
}

.line {
	display: flex;
	align-items: center;

	&__vertical {
		&::after {
			content: '';
			display: block;
			width: 0.1rem;
			height: 0.9rem;
			background-color: $font-colorGrey;
			margin: 0rem 1.1rem;
		}
	}
}

//FONTS
.font-grey {
	color: $font-colorGrey;

	&_medium {
		font-weight: 500;
	}
}

.font-basic {
	&_semibold {
		font-weight: 600;
	}

	&_bold {
		font-weight: 700;
	}
}

// HEADER
.header-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0rem .8rem;

	&__location {

		&_town {
			display: flex;
			align-items: center;
			column-gap: .5rem;

			&::before {
				content: '';
				display: block;
				background-image: url(../images/header/location.svg);
				width: 1.1rem;
				height: 1.3rem;
				background-size: 1.1rem 1.3rem;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}

	&__table {
		display: flex;
		align-items: center;

		&__network {
			display: flex;
			align-items: center;
			column-gap: 1rem;

			&_telegram {
				width: 1.5rem;
				height: 1.5rem;
			}

			&_vk {
				width: 1.9rem;
				height: 1.1rem;
			}
		}
	}
}

.header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 10rem 3rem 0rem;

	&__nav {
		// padding: 0rem 10.6rem 0rem 11.8rem;

		&__items {
			display: flex;
			align-items: center;
			column-gap: 3rem;

			&__item {}
		}
	}

	&__private {
		display: flex;
		align-items: center;
		column-gap: 3rem;

		&_person {
			display: flex;
			align-items: center;
			column-gap: 1rem;

			&::before {
				content: '';
				display: block;
				background-image: url(../images/header/person-icon.svg);
				width: 2rem;
				height: 2rem;
				background-size: 2rem 2rem;
				background-position: center center;
				background-repeat: no-repeat;

			}
		}

		&_total {
			display: flex;
			align-items: center;
			column-gap: 1rem;

			&::before {
				content: '';
				display: block;
				background-image: url(../images/header/basket-icon.svg);
				width: 2rem;
				height: 2rem;
				background-size: 2rem 2rem;
				background-position: center center;
				background-repeat: no-repeat;

			}
		}
	}
}